.shareBG {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.background-img {
    width: 100%;
    padding: 20px 0 10px 0;
    background: url(../img/personalBG.png) no-repeat;
    background-size: 100% 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.personal-avat {
    width: 85px;
    height: 85px;
    z-index: 10;
}

.personal-avat>img {
    width: 81px;
    height: 81px;
    border-radius: 50%;
    border: 2px solid #fff;
}

.personal-username {
    text-align: center;
    color: #fff;
    z-index: 10;
    font-size: 14px;
    padding: 5px;
}

.editPersonal {
    display: block;
    color: #f88601;
    font-weight: 600;
    background-color: #fff;
    border-radius: 60px;
    padding: 0px 20px;
    font-size: 14px;
    margin-bottom: 5px;
}

.setting {
    display: block;
    position: absolute;
    top: 0px;
    right: 15px;
    width: 20px;
    height: 20px;
    padding: 10px;
}

.streanline {
    margin: 0 30px;
    border-right: 1px solid #fff;
    height: 1.5rem;
    position: relative;
    top: 5px;
}

.button-sp-area {
    margin: 0 auto;
    padding-top: 15px;
    width: 60%;
}

.mini-btn {
    margin-right: 5px;
}

.page__bd_spacing {
    width: 88%;
    padding-left: 15px;
    padding-right: 15px;
}

.weui-btn {
    width: 100%;
}

.page_pt {
    padding-top: 40px;
}

.detail {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    color: blue;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 10px;
}

.em {
    width: 6px;
    height: 6px;
    border-top: 1px solid blue;
    border-left: 1px solid blue;
    -webkit-transform: rotateZ(135deg);
    transform: rotateZ(135deg);
}

.submit-button-primary {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    background-color: #18ac18;
    color: #fff;
}

.submit-button-other {
    border: 1px solid #d3d3d3;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-left: 14px;
    padding-right: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    line-height: 2.55555556;
    border-radius: 5px;
    -webkit-tap-highlight-color: transparent;
    overflow: hidden;
    color: #000000;
    background-color: #F8F8F8;
    margin-top: 15px;
}

.cards {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}


/*.card{*/


/*width: 48%;*/


/*height: 190px;*/


/*margin-top: 20px;*/


/*box-shadow: 0 0 5px 0 #e6e5e3;*/


/*}*/

.card {
    width: 48%;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 5px 0 #e6e5e3;
    box-shadow: 0 0 5px 0 #e6e5e3;
}

.card img {
    width: 100%;
    height: 97px;
}

.cardflex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    font-size: 0.8rem;
}

.cardadd {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.countHd {
    background: url(../img/countHd.png) no-repeat center;
    background-size: 100% 100%;
}


/*  */

.post {
    width: 48%;
    height: 190px;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 5px 0 #e6e5e3;
    box-shadow: 0 0 5px 0 #e6e5e3
}

.post img {
    width: 100%;
    height: 100%;
}

.integral {
    padding: 0px 20px;
    background-color: #fff;
    margin-bottom: 15px;
    border-radius: 20px;
}