@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,lengend,button,input,textarea,th,td {margin:0;padding:0;font-family:-apple-system,PingFangSC-Regular,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;}
a {text-decoration:none;color: #000}
a:hover {text-decoration:none;}
ul,ol {list-style:none;}
a,img,input,div {-webkit-tap-highlight-color:rgba(255,255,255,0);}
@media screen and (min-width:1024px){html{font-size:18px !important;}}
@media screen and (max-width:800px){html{font-size:17px !important;}}
@media screen and (max-width:414px){html{font-size:16px !important;}}
@media screen and (max-width:375px){html{font-size:15px !important;}}
@media screen and (max-width:360px){html{font-size:14px !important;}}
@media screen and (max-width:320px){html{font-size:12px !important;}}
* {
 -webkit-touch-callout:none;
 -moz-touch-callout:none;
 -ms-touch-callout:none;
 touch-callout:none;
 }
         .iconfont {
            font-size: 1.1rem;
        }

        .mobile-topbar {
            width: 100%;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #f3f3f3;
            box-sizing: border-box;
            position: relative;
            align-items: center;
        }

        .mobile-topbar__left {
            display: flex;
            direction: row;
            align-items: center;
        }

        .mobile-topbar__right {
            display: flex;
            direction: row;
        }

        .mobile-select {
            appearance: none;
            outline: none;
            border: none;
            font-size: 1rem;
            height: 1.5rem;
        }

        .mobile-topbar__item {
            padding: 0 10px;
        }

        .relative {
            position: relative;
        }

        .absolute {
            position: absolute;
        }

        .mobile-slide-wraper {
            display: none;
        }

        .mobile-slide {
            width: 100%;
            overflow: scroll;
            padding: 15px;
            box-sizing: border-box;
        }

        .mobile-slide__title {
            font-size: 1.1rem;
            display: inline;
            text-align: left;
        }

        .mobile-slide__content {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 10px 0;
        }

        .mobile-slide__item {
            padding: 0 10px;
            border: 1px solid #000;
            border-radius: 2px;
            background-color: #fff;
            margin: 0 10px 10px 0;
            min-width: 2rem;
            text-align: center;
            font-size: 1rem;
        }

        /* .mobile-slide__item:active {
            background-color: #f88601;
            color: #fff;
            border: none;
        } */
        .mobile-slide__item--on {
            padding: 1px 11px;
            background-color: #f88601;
            color: #fff;
            border: none;
            border-radius: 2px;
        }

        .mobile-slide__item:first {
            margin: 0 10px 10px 0;
        }

        .mobile-slide-button-block {
            width: 100%;
            background-color: #f88601;
            color: #fff;
        }

        .mobile-slide-button {
            text-align: center;
            padding: 10px 0;
        }

        .weui-search-bar {
            left: 100%;
            position: absolute;
            top: 0.6rem;
            background-color: #fff;
            padding: 0 10px;
        }

        .weui-search-bar:after {
            border: none;
        }

        .weui-search-bar:before {
            border: none;
        }

        .weui-search-bar__cancel-btn {
            color: #f88601;
        }
        